/*Font*/
$primary-font: 'Cabin', sans-serif;
$acent-font: 'Open Sans', sans-serif;

/*Color*/
$primary-color: #FF4081;
$acent-color: #2196F3;
$black: #000;
$white: #fff;

/*Font weight*/
$light: 300;
$regular: 400;
$bold: 700;