.btn {

  background: $primary-color;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: $bold;
  border: 2px solid $primary-color;

  &-radius {
    @include border-radius(50px);
  }
  
  &:hover {
    background: $acent-color;
    border-color: $acent-color;
  }
  &:active {

  }
  &-primary {
  }

  &-small {

  }
  &-medium {
    padding: 8px 30px;
  }
  &-large {

  }

  &-border {
    background: none;
    border-color: $black;

    &:hover {
      background: $black;
      color: $white;
      border-color: $black;
    }
  }
}