body {
  font-family: $primary-font;
  color: $black;
  font-size: 16px;
}


/* Super link */

a {
  color: $black;
  font-weight: $bold;
  &:visited {
    color: $acent-color;
  }
  &:hover {
    color: $primary-color;
    text-decoration: none;
  }
  &:active {
    /*Clicked*/
    color: $acent-color;
  }
}


/* Heading */
h1, h2, h3, h4, h5, h6 {
  font-weight: $bold;
  text-transform: uppercase;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

small {

}

/* Paragraph */

p {

}

blockquote {
  margin-left: 30px;
}

span {

}

/* List */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {

  }
}

ol {
  li {

  }
}

/* Description */

dl {
  dt {

  }
  dd {

  }
}